<%= render 'shared/page_title', title: "Chef #{@chef.chefname}'s profile" %>

<div class="row">
  <div class="col-md-4 offset-md-4 center">
    <%= gravatar_for @chef, size: 150 %>
  </div>
</div>
<% if @chef.recipes.count != 0 %>
  <h4 align="center"><%= @chef.chefname %>'s recipes</h4>
  <%= render 'shared/pagination', obj: @chef_recipes %>
  <%= render 'recipes/recipe', obj: @chef_recipes %>
  <%= render 'shared/pagination', obj: @chef_recipes %>
<% else %>
  <h4 align="center">This chef has no recipes yet</h4>
<% end %>