<%= render 'shared/page_title', title: "ChefChat" %>

<div class="row chat-container">
  <div class="col-md-8 offset-md-2 center-block">
    <div class="messages" id="messages">
      <%= render @messages %>
    </div>
    <hr/>
    <div class="message-container">
      <%= form_for(@message, remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control", data: { behaviour: "room_speaker" }, placeholder: "Add Comment" %>
        </div>
        <div class="form-group">
          <%= f.submit "Send", class: 'btn btn-dark', data: { send: "message" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>